#import the MybbDB into the DB in Database container
{% for pr in mybbconf.db %}
docker exec -i xo-mybb-db-prod mysql -u {{pr['username']}} --password={{pr['password']}} {{pr['database']}} < /home/mybb/docker/db/db-data/mybbdb.sql
{% endfor %}

